<p>Hi {{user.displayName}},</p>

<h3 class="notification-title">You have new notifications:</h3>
<table class="notitication-table">
{{#each notifications}}
  <tr>
    <td>{{{this.title}}}</td>
    <td>
      <a class="notification-link" href="{{../we.config.hostname}}{{this.redirectUrl}}">View</a>
    </td>
  </tr>
{{/each}}
</table>

<br />

<p>
  Cheers,
  {{we.config.appName}} team
</p>