<tr {{bind-attr class='itemClass'}}>
  <td {{bind-attr class=notificationType}}>
    {{id}}
  </td>
  <td>
    {{view App.NotificationTextView}}
  </td>
  <td>
    <a href="javscript:;" {{action 'changeNotificedStatus'}} {{bind-attr class=itemClass}} >{{linkStatusText}}</a>
  </td>
</tr>
